.email-editor-recomendation-container {
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;

  &:hover {
    background-color: #334bfa33;
    border: 1px solid #334bfa;
    .header {

      .left-side {

        .expand-icon {
          border: 1px solid #334bfa;
          background-color: #334bfa33;

        }

        span {
          color: #334bfa;
        }
      }

  }
}

  &:active {
    background-color: #334bfa;
    color: #FFF;

   .header {

    .left-side {

      .expand-icon {
        border: 1px solid #fff;
        color: #fff;
      }

      span {
        color: #FFF;
      }
    }
   }
  }

  .header {
    display: flex;
    justify-content: space-between;

    .left-side {
      flex: auto;
      display: flex;
      gap: 10px;
      align-items: center;


      .expand-icon {
        background-color: #FFF;
        color: #334bfa;
        width: 24px;
        height: 24px;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid #334BFA1A;
      }

      span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        align-items: center;
        color: #181818;

      }
    }
    .badge-container{
      display: flex;
      gap: 10px;
    }

    .badge_Green {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .badge_Yellow {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .badge_Red {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    // .right-side {
    //     background: #D2FBF0;
    //     letter-spacing: 0.03em;
    //     color: #18BA92;
    //     font-weight: 600;
    //     font-size: 12px;
    //     line-height: 130%;
    //     padding: 4px 8px;
    //     border-radius: 10px;
    // }
  }

  .body {
    border-top: 2px dashed rgba(24, 24, 24, 0.2);
    padding-top: 20px;
    margin-top: 16px;

    p{
      margin: 0;
    }

    .custom-divider{
      border-top: 2px dashed rgba(24, 24, 24, 0.2);
      width: 100%;
      margin: 10px 0;
      height: 2px;
    }

    button {
      outline: none;
      background-color: #334bfa33;
      border-radius: 5px;
      padding: 13px 15px;
      color: var(--alore-main-blue);
      font-weight: 700;
      font-size: 14px;
      line-height: 116%;
      border: none;
      display: block;
      margin: 32px auto 20px auto;
    }
  }
}




