.stepper-layout-header-container{
    background-color: var(--alore-main-blue);
    display: flex;
    padding: 29px 71px;
    align-items: flex-end;
    justify-content: flex-end;
    color: #ffffff;

    p{
        margin: 0 5px 0 0;
    }
}