.create-prompt-container {

    padding: 40px 32px;
    width: 900px;

    background-color: #ffffff;

    .header {
        display: flex;
        gap: 10px;
        align-items: center;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(51, 75, 250, 0.2);
            width: 50px;
            height: 50px;
            border-radius: 10px;

            svg {
                fill: var(--alore-main-blue);
                width: 22px;
                height: 22px;
            }
        }

        .label {
            flex: auto;

            p {
                margin: 0;
                color: #181818;
                font-weight: 600;
                font-size: 24px;
                line-height: 132%;
                font-family: 'Inter';
            }

            span {
                font-weight: 400;
                font-size: 14px;
                line-height: 116%;
                color: #181818cc;
            }

        }

        .close-button {
            display: flex;
            align-items: center;
            justify-content: center;

            &:active {
                svg {
                    stroke: white;
                }
            }

            svg {
                stroke: #334BFA;
                width: 12px;
                height: 18px;
            }
        }
    }


    .action-button {
        padding-top: 30px;
        border-top: 1px solid #18181833;
        display: flex;
        gap: 24px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;

        .first-div {
            row-gap: 20px;


            .popup_Primary_Extra_Small_Button {
                margin-right: 15px;
            }
        }

        button {
            width: 100px;
        }

        .alt_Button_Blue_With_Icon_Left {
            width: fit-content;
            height: 20px;
            background-color: transparent;

            &:hover {
                background-color: #334BFA33;

                color: #334bfa;
            }

            &:active {
                background-color: #334bfa;
                color: #FFF;
            }
        }
    }

    .v-scroll-area {
        display: flex;

        .section {
            height: 420px;
            overflow-y: scroll;
            overflow-x: hidden;
            width: 33.3%
        }

        .prompt{
            
            // height: 100%;
            background-color: #D3D3D3;
            box-sizing: border-box;
            padding: 7px;
        }
    }
}




::ng-deep {
    .search-tag-container {
        padding: 10px;
        border: 2px solid var(--alore-main-blue);
        border-radius: 10px !important;
        margin-top: 4px;

        .search-tag-item {
            border-radius: 5px;
            height: 60px;

            &:hover {
                background-color: #334bfa33;

                .user-data {
                    .tag-label {
                        color: var(--alore-main-blue);
                    }

                    mat-icon {
                        color: var(--alore-main-blue);
                    }
                }
            }

            &:active {
                background-color: var(--alore-main-blue) !important;
                box-shadow: inset 0px 4px 4px #00000040;

                .user-data {
                    .tag-label {
                        color: #ffffff !important;
                    }

                    mat-icon {
                        color: #ffffff;
                    }
                }
            }

            .user-data {
                display: flex;
                align-items: center;
                gap: 16px;

                mat-icon {
                    margin-right: 0;
                }

                .color-label {
                    width: 22px;
                    height: 22px;
                    border-radius: 22px;
                }

                .tag-label {
                    flex: auto;
                    font-family: 'Inter';
                    color: #181818;
                    font-weight: 600;
                    font-size: 14px;
                    display: block;
                    line-height: 112%;
                }
            }
        }
    }
}

mat-form-field {
    width: 100%;
    margin: 15px 0;
}

::ng-deep .mat-form-field-underline {
    position: unset !important;
}


/* Small checkbox button class ends  */




::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0.25em 0;
    padding: 0px !important;
}

// @media screen and (max-width: 1366px) and (max-height: 668px) {
//     .craete-tags-container {
//         row-gap: 26px;

//         .v-scroll-area {
//             max-height: 325px;
//             overflow: auto;
//             padding-right: 15px;
//             scrollbar-color: var(--alore-main-blue) #e4e4e4;
//             scrollbar-width: thin;
//         }

//         .v-scroll-area::-webkit-scrollbar {
//             width: 4px !important;
//         }

//         .v-scroll-area::-webkit-scrollbar-track {
//             background: rgba(24, 24, 24, 0.1) !important;
//         }

//         .v-scroll-area::-webkit-scrollbar-thumb {
//             background: #334bfa !important;
//         }




//         .next_Button_Div {
//             margin-top: 0px;
//         }
//     }
// }

// @media screen and (max-width: 1366px) and (max-height: 560px) {
//     .craete-tags-container {

//         .v-scroll-area {}
//     }
// }


@media screen and (max-height: 675px){
    .create-prompt-container{
        padding: 12px 12px;
    }
}

@media screen and (max-width: 1340px){
    .create-prompt-container{
        width:900px;
    }
}

@media screen and (max-width: 1200px){
    .create-prompt-container{
        width:800px;
    }
}