<div class="notification-header">
    <div class="header">
         <h3>Notifications</h3>
    </div>
    <div class="content">
        <!-- <div class="notification-item">
            <div class="icon">
                <mat-icon inline>
                    email
                </mat-icon>
            </div>
            <div class="desc">
                <span>
                    You have made some changes in Getting Started email 
                    You have made some changes in Getting Started email
                </span>
                <small>2 Hous Ago</small>
            </div>
        </div> -->
        <div class="empty-message">
            <img src="../../../assets/img/img-notification-empty.png">
            <span>
                You don’t have any notification yet!
            </span>
        </div>
    </div>
    <div class="footer">
         18 days left  
         <button mat-flat-button>
             Upgrade Plan
         </button>
    </div>
</div>