.email-editor-upload-file-container{
    min-width: 554px;
    background-color: #ffffff;
    margin: 50px;

    .header{
        .icon{
            svg{
                width: 24px!important;
                height: 24px!important;
            }
        }
    }
    .body{
        margin-top: 40px;
    }

}