<section class="dashboard-loading">
  <div class="dashboard-loading-header">
    <div class="dashboard-loading-top-container">
      <div class="dashboard-loading-top skeleton"></div>
    </div>
    <div class="dashboard-loading-bottom-container">
      <div class="dashboard-loading-bottom-left skeleton"></div>
      <div class="dashboard-loading-bottom-right skeleton"></div>
    </div>
  </div>
  <div class="dashboard-loading-body-container">
    <div class="dashboard-loading-body">
      <div class="dashboard-loading-body-left skeleton"></div>
      <div class="dashboard-loading-body-right skeleton"></div>
    </div>
    <div class="dashboard-loading-body">
      <div class="dashboard-loading-body-left skeleton"></div>
      <div class="dashboard-loading-body-right skeleton"></div>
    </div>
    <div class="dashboard-loading-body">
      <div class="dashboard-loading-body-left skeleton"></div>
      <div class="dashboard-loading-body-right skeleton"></div>
    </div>
    <div class="dashboard-loading-body">
      <div class="dashboard-loading-body-left skeleton"></div>
      <div class="dashboard-loading-body-right skeleton"></div>
    </div>
    <div class="dashboard-loading-body">
      <div class="dashboard-loading-body-left skeleton"></div>
      <div class="dashboard-loading-body-right skeleton"></div>
    </div>
  </div>
</section>
