<!-- <meta http-equiv="refresh" content="5; url=https://campaign.alore.io"> -->
<div class="error-screen-container">
    <div class="error-info-card">
        <div class="left-side">

            <div class="inner-content">
            <h2>
                Something broke
            </h2>
            <p>
                Sorry, We are trying to fix it asap. In the meanwhile, let’s head back home.
            </p>
            <button [routerLink]="''">
                Take me home
            </button>
        </div>
        </div>
        <div class="right-side">
            <img src="../../../assets/img/img-pencil.png" alt="">
        </div>
    </div>
</div>

