.objective {
  display: flex;
  height: 90vh;
  margin: 0 auto;
  max-height: unset;
  padding: 0;
  position: relative;
  width: 90vw;
}

.objective-aside {
  border-right: 1px solid var(--alore-border-color-secondary);
  padding-bottom: 15px;
  padding-top: 55px;
  width: 315px;
}

.objective-aside-workspace,
.objective-aside-personal,
.objective-aside-header {
  margin-left: 58px;
}

.objective-aside-workspace,
.objective-aside-personal {
  position: relative;
}

.add-button {
  position: absolute;
  right: 20px;
  top: 0;
}

.objective-aside-body {
  display: flex;
  flex-direction: column;
}

.subheader-title {
  color: rgba(24, 24, 24, 0.43);
  margin-top: 30px;
}

.objective-aside-body {
  margin-top: 17px;
}

.objective-aside-button {
  padding: 15px 58px 15px;
  position: relative;

  &:hover {
    .menu-trigger {
      display: block;
    }
  }
}

.menu-trigger {
  background-color: transparent;
  display: none;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
}

.more-icon {
  color: var(--alore-main-blue);
}

.objective-aside,
.objective-content {
  overflow-y: auto;
}

.objective-content {
  margin-top: 120px;
  width: calc(100% - 315px);
}

.objective-content-header {
  display: flex;
  position: absolute;
  right: 0;
  top: 45px;
}

.objective-content-button {
  margin-left: auto;
  margin-right: 70px;
}

.icon-close {
  padding: 0;
}

.objective-content-close {
  min-width: 36px;
  padding: 0;
  margin-right: 50px;

  &:hover {
    .icon-close {
      color: var(--alore-main-blue);
    }
  }

  &:active {
    .icon-close {
      color: var(--alore-main-white);
    }
  }
}

.objective-content-main {
  scrollbar-color:var(--alore-main-blue)  #e4e4e4;
  scrollbar-width: thin;
  margin-left: 41px;
}

.objective-content-main + .objective-content-main {
  margin-top: 50px;
}

.objective-article-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

::-webkit-scrollbar {
  background: transparent;
  height: 0px;
  width: 0px;
}

::-webkit-scrollbar-thumb {
  border-color: transparent;
  border-image: initial;
  border-style: solid;
  border-width: 0;
  transition: background-color 200ms linear 0s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.08);
  border-color: transparent;
  border-image: initial;
  border-style: solid;
  border-width: 0;
}

::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
}
