.share-modal-container{
  background-color: #ffffff;
  width: 450px;
  row-gap: 20px!important;

  .body{
  
    .user-list-container{
        height: 480px;
        overflow-x: hidden;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .user-data{
          display: flex;
          align-items: center;
          gap: 16px;

          mat-form-field{
            width: 150px;

            &::ng-deep {
              .mat-form-field-outline-start {
                border-radius: 10px 0 0 10px !important;
                min-width: 10px !important;
              }

              .mat-form-field-outline-end {
                border-radius: 0 10px 10px 0 !important;
              }
              .mat-form-field-infix {
                border: none;
                padding: 15px 0 !important;
              }

              .mat-select-arrow {
                border-left: none !important;
                border-top: none !important;
                display: inline-block !important;
                border-right: 1px solid rgba(24, 24, 24, 0.4) !important;
                border-bottom: 1px solid rgba(24, 24, 24, 0.4) !important;
                width: 8px !important;
                height: 8px !important;
                transform: rotate(-315deg);
              }
            }
          }

          .avatar{
            // color: #FF6E01;
            font-size: 18px;
            font-weight: 700;
            width: 48px;
            height: 48px;
            border-radius: 18px;
            // background-color: #FFC599;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;

            span {
              font-size: 18px !important;
            }
          }

          .user-label{
            flex: auto;

            span{
              color: #181818;
              font-weight: 500;
              font-size: 14px;
              display: block;
              line-height: 112%;
            }
            small{
              color: #18181899;;
              font-weight: 400;
              font-size: 12px;
              line-height: 130%;
            }
          }
        }
    }
    .empty-user-list{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 11.8824px;
      line-height: 16px;
      text-align: center;
      color: #68696D;
      max-width: 200px;
      margin: auto;

      img{
        margin: auto;
        display: block;
      }
    }
    .search-user{
      width: 100%;

      ::ng-deep {
        .mat-form-field-infix{
          border: none;
          padding: 17px 0 15px 0 !important;

          input{
            font-size: 14px;
          }
        }
        .mat-form-field-outline-end {
          border-radius: 0 10px 10px 0 !important;
        }
        .mat-form-field-outline-start {
          border-radius: 10px 0 0 10px !important;
          min-width: 10px !important;
        }
        .search-suffix{
          img{
            margin-top: -12px;
          }
        }
      }
    }
  }

  .action-button{
    margin-top: 40px!important;
  }
}

::ng-deep{
  .search-user-selection-container{
    padding: 11.5px 16px;
    border: 2px solid var(--alore-main-blue);
    border-radius: 10px!important;
    margin-top: 4px;

    .custom-option{
      height: 60px;
      margin: 0;
      padding: 0;
    }
    .invite-mail{
      display: flex;
      justify-content: space-between;

      .desc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        font-family: 'Inter';
        color: #181818;

        span{
          display: block;
          align-items: center;
          letter-spacing: 0.02em;
          font-weight: 500;
          margin-right: auto;
          line-height: 1;
        }
  
        p{
          margin-right: auto;
          font-weight: 400;
          font-size: 14px;
          line-height: 116%;
          margin-top: 5px;
          margin-bottom: 0;
        }

      }

      button{
        width: 72px;
      }
    }

    .search-user-selection-item{
      border-radius: 5px;
      height: 60px;

      &:hover{
        background-color: #334bfa33;

        .user-data{
          .user-label{
            .user-label-name{
              color: var(--alore-main-blue);
            }
            .user-label-email{
              color: var(--alore-main-blue);
            }
          }
          mat-icon{
            color: var(--alore-main-blue);
          }
        }
      }
      &:active{
        background-color: var(--alore-main-blue)!important;
        box-shadow: inset 0px 4px 4px #00000040;

        .user-data{
          .user-label{
            .user-label-name{
              color: #ffffff!important;
            }
            .user-label-email{
              color: #ffffff80!important;
            }
          }
          mat-icon{
            color: #ffffff;
          }
        }
      }

      .user-data{
        display: flex;
        align-items: center;
        gap: 16px;

        mat-icon{
          margin-right: 0;
        }

        .avatar{
          color: #FF6E01;
          font-size: 14px;
          font-weight: 700;
          width: 32px;
          height: 32px;
          border-radius: 12px;
          background-color: #FFC599;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
        }

        .user-label{
          flex: auto;
          font-family: 'Inter';

          .user-label-name{
            color: #181818;
            font-weight: 600;
            font-size: 14px;
            display: block;
            line-height: 112%;
          }
          .user-label-email{
            color: #18181899;;
            font-weight: 400;
            font-size: 12px;
            line-height: 130%;
          }
        }
      }
    }
  }
}


.scroll-vertical {
  &::-webkit-scrollbar-track {
      border-radius: 50px;
      padding-left: 10px;
      background-color: #e4e4e4;
      scrollbar-color:var(--alore-main-blue)  #e4e4e4;
      scrollbar-width: thin;
  }

  &::-webkit-scrollbar {
      width: 3px;
      padding-left: 10px;
      border-radius: 50px;
      background-color: #acacac;
  }

  &::-webkit-scrollbar-thumb {
      padding-left: 10px;
      background-color: var(--alore-main-blue);
  }
}

// ::ng-deep .mat-checkbox-checkbox .mat-accent .mat-checkbox-background {
//   // background-color: #334bfa;
//   border-radius: 6px ;
// }

// ::ng-deep .mat-checkbox .mat-checkbox-frame {
  
//   border-radius: 6px;
// }

::ng-deep .mat-checkbox.checkbox_Medium_button .mat-checkbox-inner-container {
  height: 24px;
  width: 24px;
}

.medium_CheckBox_Div {
  display: flex;
  align-items: center;
  width: 74px;
  justify-content: space-between;
}

.medium_Label_Div {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 112%;
  letter-spacing: 0.03em;
  color: #181818;
}


::ng-deep.mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background {
  background-color: rgba(51, 75, 250, 0.5);
}

::ng-deep.mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-frame {
  background-color: rgba(24, 24, 24, 0.1) !important;
  border-color: transparent;
}

::ng-deep.mat-checkbox-checked.mat-accent.mat-checkbox-disabled:hover .mat-checkbox-frame {
  border-color: transparent;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #334bfa;
  border-radius: 6px;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: black !important;
}

::ng-deep .mat-checkbox:hover .mat-checkbox-frame {
  background-color: rgba(51, 75, 250, 0.2);
  border-color: #334bfa;
}

::ng-deep .mat-checkbox.mat-checkbox-disabled:hover .mat-checkbox-frame {
  background-color: transparent;
  border-color: #b0b0b0;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: rgba(24, 24, 24, 0.5);
  border-radius: 6px;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  display: none;
}


@media screen and (max-height: 865px){
  .body .user-list-container{
    height: 300px !important;
    margin-top:15px !important;
  }

  .share-modal-container .action-button{
    margin-top: 0px !important
  }
}