<div class="url-fields">

    <div class="field">

        <div class="first-name">
            <h5>LinkedIn URL</h5>
        </div>

        <mat-form-field floatLabel="never" class="search-user" appearance="outline">
            <input matInput [formControl]="linkedinUrl" [value] = "linkedinUrlValue" placeholder="Enter your LinkedIn URL" aria-label="State">
        </mat-form-field>

    </div>

    <div class="field">

        <div class="first-name">
            <h5>Twitter URL</h5>
        </div>

        <mat-form-field floatLabel="never" class="search-user" appearance="outline">
            <input matInput [formControl]="twitterUrl" [value] = "twitterUrlValue" placeholder="Enter your Twiiter URL" aria-label="State">
        </mat-form-field>

    </div>

    <div class="field">

        <div class="first-name">
            <h5>Company URL</h5>
        </div>

        <mat-form-field floatLabel="never" class="search-user" appearance="outline">
            <input matInput [formControl]="companyUrl" [value] = "companyUrlValue"  placeholder="Enter your Company URL" aria-label="State">
        </mat-form-field>

    </div>
</div>