.main_Customize_Select_Options {
    .divider {
        &:nth-child(1) {
            margin-top: 0;
        }
    }

    .header_Customize_Select_Options {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon_And_Header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon_Inside_Header {
                width: 50px;
                height: 50px;
                background: rgba(51, 75, 250, 0.2);
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
            }

            .Text_Inside_Header p {
                font-family: "Inter";
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 132%;
                color: #181818;
            }

            .Text_Inside_Header span {
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 116%;
                color: rgba(24, 24, 24, 0.8);
                margin-top: 4px;
            }
        }

        .close_Button_Div {
            padding-bottom: 24px;
        }
    }

    .divider {
        height: 3px;
        margin: 36px 0;
    }

    .select_Time_Body {
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        &.hidden {
            position: absolute;
            top: 9999px;
        }

        // margin-top: 36px;
        .tab_Layout {
            .tab_Layout_Item {
                padding: 17px 23px;
                width: 100%;

                .tab_Layout_Text {
                    text-transform: capitalize;
                }
            }
        }

        .select_Option_Content {
            .inside_Button_Div {
                span {
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 112%;
                    letter-spacing: 0.02em;
                    color: #181818;
                    margin-bottom: 8px;
                }

                .button_Section_Select_Option {
                    display: flex;
                    justify-content: space-between;
                    gap: 30px;

                    .button_And_Recom_Div {
                        button {
                            width: 158px;
                            background: #ffffff;
                            border: 2px solid rgba(24, 24, 24, 0.7);
                            border-radius: 5px;
                            height: 45px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;


                            &:hover {
                                border-color: #334BFA !important;

                                .img_Div img {
                                    filter: invert(23%) sepia(74%) saturate(4703%) hue-rotate(233deg) brightness(98%) contrast(100%);
                                }

                                .img_Div {
                                    border-color: #334BFA !important;
                                }

                                .text_Div p {
                                    color: #334BFA !important;
                                }

                                .text_Div span {
                                    color: #334BFA !important;
                                }
                            }

                            .img_Div {
                                border-right: 1px solid #181818b2;
                                padding-right: 10px;
                            }
                        }

                        .selectedTime {


                            &:hover {
                                border-color: #334bfa !important;

                                .img_Div {
                                    border-color: #fff !important;
                                }

                                .text_Div p {
                                    color: #fff !important;
                                }

                                .text_Div span {
                                    color: #fff !important;
                                }
                            }
                        }


                        .text_Div {
                            margin-right: 6px;
                            gap: 2px;
                            margin-top: 8px;
                            display: flex;
                            flex-direction: column;

                            p {
                                font-family: "Inter";
                                font-style: normal;
                                font-weight: 600;
                                font-size: 10px;
                                line-height: 116%;
                                color: rgba(24, 24, 24, 0.7);
                                margin-bottom: 3px;
                            }

                            span {
                                font-family: "Inter";
                                font-style: normal;
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 116%;
                                color: rgba(24, 24, 24, 0.7);
                            }
                        }

                        .recommended_Button_Div {
                            width: 155px;
                            height: 19px;
                            background: #1bd2a4;
                            border-radius: 5px;
                            padding: 2px 9px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: 10px;

                            span {
                                color: #ffffff;
                                margin-bottom: 0;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }

        .manual_Edit_Section {
            display: contents;

            p {
                font-family: "Inter";
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 112%;
                letter-spacing: 0.02em;
                color: #181818;
                margin-bottom: 8px;
            }

            .manual_Edit_Button_Div {
                .from_Input {
                    width: 180px;
                    height: 56px;
                    background: #ffffff;
                    border: 1px solid rgba(24, 24, 24, 0.4);
                    border-radius: 10px;
                    padding: 0 16px;
                    outline: none;
                    margin-right: 8px;
                    cursor: pointer;

                    &:hover {
                        border: 1px solid var(--alore-main-blue);
                    }

                    &:focus-within,
                    &:focus {
                        border: 2px solid var(--alore-main-blue);
                    }
                }

                .until_Input {
                    width: 180px;
                    height: 56px;
                    background: #ffffff;
                    border: 1px solid rgba(24, 24, 24, 0.4);
                    border-radius: 10px;
                    padding: 0 16px;
                    outline: none;
                    cursor: pointer;

                    &:hover {
                        border: 1px solid var(--alore-main-blue);
                    }

                    &:focus-within,
                    &:focus {
                        border: 2px solid var(--alore-main-blue);
                    }
                }
            }
        }
    }

    .radio_switch_Option_Section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        .para_And_Span {
            justify-content: space-between;

            p {
                font-family: "Inter";
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 112%;
                letter-spacing: 0.02em;
                color: #181818;
            }

            span {
                font-family: "Inter";
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 130%;
                letter-spacing: 0.02em;
                color: rgba(24, 24, 24, 0.4);
            }
        }
    }

    .next_Button_Div {
        .primary_Normal_Button_Blue {
            margin-right: 24px;
            width: 100px;
            padding: 0;
        }

        .secondary_Normal_Button_Blue {
            width: 100px;
            height: 40px;
            padding: 0;
        }
    }
}

@media screen and (max-width: 1366px) and (max-height: 688px) {
    .main_Customize_Select_Options {
        .v-scroll-area {
            max-height: 200px;
            overflow: auto;
            padding-right: 15px;
            scrollbar-color: var(--alore-main-blue) #e4e4e4;
            scrollbar-width: thin;
            position: relative
        }

        .v-scroll-area::-webkit-scrollbar {
            width: 4px !important;
        }

        .v-scroll-area::-webkit-scrollbar-track {
            background: rgba(24, 24, 24, 0.1) !important;
        }

        .v-scroll-area::-webkit-scrollbar-thumb {
            background: #334bfa !important;
        }


        .divider {

            margin: 26px 0;
        }

        .next_Button_Div {
            margin-top: 26px;
        }

        .select_Volume_Div {
            row-gap: 10px;
        }

        .radio_switch_Option_Section {

            margin-bottom: 26px;
        }

        .select_Time_Body {
            row-gap: 10px;
        }
    }
}

.error-msg {
    margin-top: 10px;
    font-family: "Inter";
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #ff2b00
}