.main_Container_Tag{
    max-width: 100%;
    width: 598px;
}

::ng-deep  p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #181818;
    
}


::ng-deep .header_Tag_Modal {
    width: 100%;
   

}

::ng-deep .tab_Layout_Item {
    padding: 17px 38px;
   
}

.tab_Layout {
    justify-content: center;
}

::ng-deep input {
  margin-top:0px !important;
}
::ng-deep .mat-form-field-infix{
    padding:0px;
}

::ng-deep .mat-form-field {
    width: 100%;
}

::ng-deep .main_Container_Tag {
   
    height: 100%;

}

section.tab_Status_Modal {
    margin-bottom: 25px;
}


::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    /* padding: 0.3em 0px !important; */
    padding: 0px !important;
    margin: 0px !important;
    border-top:0px !important;
    height: 100%;
    display: flex;
    align-items: center;
}


::ng-deep .header_Div_Tag h5{
    font-weight: 600;
font-size: 14px;
line-height: 112%;
letter-spacing: 0.02em;
color: #181818;
margin-bottom:8px;
}

::ng-deep  .mat-form-field-appearance-outline ::ng-deep  .mat-form-field-flex {
    margin-top:0px !important;
    height: 56px;
}

.header_Tag_Modal {
    margin-bottom: 40px;
}

::ng-deep  .button_Div_Tag_Modal {
    padding-top: 16px;
}

::ng-deep input:-internal-autofill-selected{
    background-color: transparent !important;
}

::ng-deep input:-webkit-autofill,
::ng-deep input:-webkit-autofill:hover,
::ng-deep input:-webkit-autofill:focus,
::ng-deep input:-webkit-autofill:active {
    background-color: transparent !important;
    color: transparent !important;
}

.button_Div_Tag_Modal{
    display: flex;
    gap: 15px;
}