<div class="prospect-step5">
    <div class="step-5-item">
        <div class="desc">
            <div class="icon">
                <img src="../../../../../assets/icon/prospect-icon-1.svg" alt="">
            </div>
            <p>
                {{step5Model.newProspect | number}} new prospects will be created
            </p>
        </div>
    </div>
    <div class="step-5-item">
        <div class="desc">
            <div class="icon">
                <img src="../../../../../assets/icon/prospect-icon-2.svg" alt="">
            </div>
            <p>
                {{step5Model.oldProspect | number}} old prospects will be updated
            </p>
        </div>
        <div class="action">
              <!-- <span>
                  review
              </span>
              <span>
                  remove all
              </span> -->
        </div>
    </div>
    <div class="step-5-item">
        <div class="desc">
            <div class="icon">
                <img src="../../../../../assets/icon/prospect-icon-3.svg" alt="">
            </div>
            <p>
                {{step5Model.newTags | number}} New Tags will be created
            </p>
        </div>
        <div class="action">
            <!-- <span>
                review
            </span> -->
        </div>
    </div>
    <div class="step-5-item">
        <div class="desc">
            <div class="icon">
                <img src="../../../../../assets/icon/prospect-icon-3.svg" alt="">
            </div>
            <p>
                {{step5Model.position | number}} New positions will be created
            </p>
        </div>
        <div class="action">
            <!-- <span>
                review
            </span> -->
        </div>
    </div>
</div>
