<section >
   

    <div class="main_Container_Tag">
        <section class="header_Div_Tag">
            <div>
                <section class="header_Tag_Modal">
                    <section class="header_Img_Tag_Modal">
                        <div class="icon_Div_Tag_Modal">
                            <img src="../../../assets/reset_password.svg" alt="" />
                        </div>
                        <div class="header_Div_Tag_Modal">
                            <h2 class="top_Header_On_Tag_Modal">Reset password</h2>

                            <p>Send a reset password link to your email associated with Alore</p>
                        </div>
                    </section>
                    <button class="alore_blue_Close_Button" [disabled]="disabledButton == true"
                        (click)="dialogRef.close()">
                        <img src="../assets/alore_Blue_Close.svg" alt="" />
                    </button>
                </section>
            </div>

            <!-- Form Controls for Password change -->
            <div class="password-fields">

                <p style="margin-bottom: 40px;">We have sent an email to email account <br>
                  ({{email}}) with the link to reset the password. This link  <br>
                  will be valid for 1 hour.
                  <br><br>
                  Please check your email inbox for instructions to reset password.
                </p>
                
            </div>






            <div class="button_Div_Tag_Modal">
                <button class="popup_Primary_Extra_Small_Button width_ex_sm" [disabled]="disabledButton == true" (click)="dialogRef.close()" [disabled]="disabledButton == true">
                    Ok, got it
                </button>
            </div>

</section>