.empty-State-Trash {
  .titleContainer{
    p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #181818;
        margin-bottom: 12px;
    }
  }
}

