.campaign-item-tabs-analytics-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    @media only screen and (max-width: 1200px) {
      flex-direction: column;

      app-open-rates,
      app-volume-chart {
        width: 100%!important;
      }
    }

    app-open-rates,
    app-volume-chart {
      width: 50%;
    }
  
    @media (min-width: 1000px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
}


@media (max-width: 1366px) {
.campaign-item-tabs-analytics-container {
  margin-bottom: 50px;
}
}

@media only screen and (max-width:480px){
  .campaign-item-tabs-analytics-container {
    margin-bottom: 25px;
  }
  ::ng-deep {

    .mat-menu-panel.hide-column{
      border-radius:10px !important;
    }
    .hide-column {
        margin-left: unset!important;
        .hide-column-card {
            padding: 15px !important;
            width: 196px !important;
            border-radius: unset !important;

            .header {
                font-size: 16px!important;
                margin-bottom: 10px !important;
              
            }

            .body {
                gap: 10px!important;
            }

            .footer {
                gap: 10px!important;
                margin-top: 15px!important;

      
            }
        }
    }
}




}


.owner-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: rgba(24, 24, 24, 0.4);
}


.tab-layout-wrapper {
  .tab_Layout {
    margin-bottom: 20px !important;
    margin-top: 0px !important;

    .tab_Layout_Item {
      padding: 10px 7px !important;
      height: 19px !important;
      width: 128px !important;
      gap: 5px;

      .tab_Layout_Icon {
        margin-right: 0px !important;
      }

      .tab_Layout_Text {
        font-size: 13px;
        margin: 0px !important;
      }

      .tab-badge {
        border-radius: 8px;
        padding: 2px 6px;
        font-size: 10px;
      }
    }
  }
}

.img-mail {
  height: 20px;
  width: 20px;
}

.tab_Layout_Item {
  padding: 15px 48px;
}

.provider-graph {
  margin-top: 50px;
}