<div class="email-integration-page">
    <div
        (click)="getUrl('getOtherUrl')"
        class="integration-button">
        <div class="icon">
            <img src="../../../../../assets/img/gmail-button.png" alt="" />
        </div>
        <p class="text" >
            Gmail
        </p>
    </div>
    <div
        (click)="getUrl('getOtherUrl')"
        class="integration-button">
        <div class="icon">
            <img src="../../../../../assets/img/outlook.png" alt="">
        </div>
        <p class="text">
            Outlook
        </p>
    </div>
    <div
    (click)="getUrl('getOtherUrl')"
        class="integration-button">
        <div class="icon">
            <img src="../../../../../assets/img/others.png" alt="">
        </div>
        <p class="text">
            Others
        </p>
    </div>
</div>
