<app-dashboard-loading *ngIf="isLoading"></app-dashboard-loading>
<div class="campaign-detail-container" *ngIf="!isLoading">
    <div class="table-container">
        <div class="action-button">
            <!-- {{windowWidth}} -->
            <button [matMenuTriggerFor]="hideColumn" class="hide-details">
                <img src="../assets/hide_Fields.svg" alt="">
                {{
                ! hidedColumn.length ?
                'Hide fields' :
                hidedColumn.length+' Hidden fields'
                }}
            </button>
            <!-- <button class="alt_Button_Blue_With_Icon_Left">
              <span
                  class="alt_Button_Blue_With_Icon_Left">
                  <img src="../../../assets/newAddButton.svg" alt="">
                  New Email
              </span>
          </button> -->
        </div>
        <div class="
              responsive-table-container
              scroll-horiz
          ">
            <!-- <table mat-table cdkDropList [dataSource]="dataSource" cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)"> -->

            <!-- campaign name section-->
            <!-- <ng-container *ngFor="let column of columns; let i = index;" [matColumnDef]="column">

                    <th mat-header-cell cdkDrag *matHeaderCellDef [class.text-center]="column !== 'date'">
                        <span *ngIf="column !== 'select'">
                            {{filterTableHeader(column)}}
                        </span>

                    </th> -->

            <!-- <td mat-cell *matCellDef="let element">
                        <div *ngIf="!columnVisibility(column)" class="column-visibilty"
                            [class.align-center-td]="column !== 'date'"> -->

            <!-- total sent section -->
            <!-- <div class="text-center" style="width: 115px;" *ngIf="column === 'total_sent'">
                                <div class="count">
                                    {{element.totalMailSend}}
                                </div>
                            </div> -->

            <!-- to be sent section -->
            <!-- <div class="text-center" style="width: 115px;" *ngIf="column === 'to_be_sent'">
                                <div class="count">
                                    {{element.totalMailPending}}
                                </div>
                            </div> -->

            <!-- open rate section -->
            <!-- <div class="text-center" style="width: 115px;" *ngIf="column === 'open_rate'">
                                <span class="green-color">
                                    {{element.openRate}}%
                                </span>
                                <mat-icon *ngIf="element.openStatus === 'TRUE'" class="green-color" inline>
                                    trending_up
                                </mat-icon>
                                <mat-icon *ngIf="element.openStatus === 'FALSE'" class="red-color" inline>
                                    trending_down
                                </mat-icon>
                            </div> -->

            <!-- reply rate section -->
            <!-- <div class="text-center" style="width: 115px;" *ngIf="column === 'reply_rate'">
                                <span class="green-color">
                                    {{element.replyRate}}
                                </span>
                                <mat-icon *ngIf="element.replyStatus === 'TRUE'" class="green-color" inline>
                                    trending_up
                                </mat-icon>
                                <mat-icon *ngIf="element.replyStatus === 'FALSE'" class="red-color" inline>
                                    trending_down
                                </mat-icon>
                            </div> -->

            <!-- bounce rate section -->
            <!-- <div class="text-center" style="width: 115px;" *ngIf="column === 'bounce_rate'">
                                <span class="green-color">
                                    {{element.bounceRate}}%
                                </span>
                                <mat-icon *ngIf="element.bounceStatus === 'TRUE'" class="green-color" inline>
                                    trending_up
                                </mat-icon>
                                <mat-icon *ngIf="element.bounceStatus === 'FALSE'" class="red-color" inline>
                                    trending_down
                                </mat-icon>
                            </div> -->


            <!-- <div style="width: 100px; text-align: center;" class="margin-center"
                                *ngIf="column === 'reply_count'">
                                <span>
                                    {{element.replyCount}}
                                </span>
                            </div> -->

            <!-- open count section  -->

            <!-- <div style="width: 100px; text-align: center;" class="margin-center"
                                *ngIf="column === 'open_count'">
                                <span>
                                    {{element.openCount}}
                                </span>
                            </div> -->

            <!-- link 1 section -->
            <!-- <div class="text-center" style="width: 75px;" *ngIf="column.includes('Link')">
                                <span class="green-color">
                                    {{element.links[i].count}}
                                </span>
                            </div> -->



            <!-- create date section -->
            <!-- <div style="width: 150px;" class="date-copy" *ngIf="column === 'date'">
                                <div>
                                    <p class="date-text">{{element.date | date: 'dd MMM, yyyy'}}</p>
                                </div>
                            </div>
                        </div>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="getFilteredColumn; sticky: true">
                </tr>
                <tr mat-row *matRowDef="let row; columns: getFilteredColumn;">
                </tr>
            </table> -->


            <table *ngIf="!isLoading" mat-table cdkDropList [dataSource]="dataSource"
                cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">

                <!-- Position Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element">
                        <div style="width: 150px;" class="date-copy">
                            <div>
                                <p class="date-text">{{element.date | date: 'dd MMM, yyyy'}}</p>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="total_sent">
                    <th mat-header-cell *matHeaderCellDef> Total Sent </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="text-center" style="width: 115px;">
                            <div class="count">
                                {{element.totalMailSend}}
                            </div>
                        </div>
                    </td>
                </ng-container>



                <ng-container matColumnDef="to_be_sent">
                    <th mat-header-cell *matHeaderCellDef> To Be Sent </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="text-center" style="width: 115px;">
                            <div class="count">
                                {{element.totalMailPending}}
                            </div>
                        </div>
                    </td>
                </ng-container>


                <ng-container matColumnDef="open_rate">
                    <th mat-header-cell *matHeaderCellDef> Open Rate </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="text-center" style="width: 115px;">
                            <span class="green-color">
                                {{element.openRate}}%
                            </span>
                            <mat-icon *ngIf="element.openStatus === 'TRUE'" class="green-color" inline>
                                trending_up
                            </mat-icon>
                            <mat-icon *ngIf="element.openStatus === 'FALSE'" class="red-color" inline>
                                trending_down
                            </mat-icon>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="reply_rate">
                    <th mat-header-cell *matHeaderCellDef> Reply Rate </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="text-center" style="width: 115px;">
                            <span class="green-color">
                                {{element.replyRate}}
                            </span>
                            <mat-icon *ngIf="element.replyStatus === 'TRUE'" class="green-color" inline>
                                trending_up
                            </mat-icon>
                            <mat-icon *ngIf="element.replyStatus === 'FALSE'" class="red-color" inline>
                                trending_down
                            </mat-icon>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="bounce_rate">
                    <th mat-header-cell *matHeaderCellDef> Bounce Rate </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="text-center" style="width: 115px;">
                            <span class="green-color">
                                {{element.bounceRate}}%
                            </span>
                            <mat-icon *ngIf="element.bounceStatus === 'TRUE'" class="green-color" inline>
                                trending_up
                            </mat-icon>
                            <mat-icon *ngIf="element.bounceStatus === 'FALSE'" class="red-color" inline>
                                trending_down
                            </mat-icon>
                        </div>
                    </td>
                </ng-container>


                <ng-container matColumnDef="reply_count">
                    <th mat-header-cell *matHeaderCellDef> Reply Count </th>
                    <td mat-cell *matCellDef="let element">
                        <div style="width: 100px; text-align: center;" class="margin-center">
                            <span>
                                {{element.replyCount}}
                            </span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="open_count">
                    <th mat-header-cell *matHeaderCellDef> Open Count </th>
                    <td mat-cell *matCellDef="let element">
                        <div style="width: 100px; text-align: center;" class="margin-center">
                            <span>
                                {{element.openCount}}
                            </span>
                        </div>
                    </td>
                </ng-container>



                <div *ngFor="let link of links; let i=index">

                    <ng-container matColumnDef={{link.id}}>

                        <th mat-header-cell *matHeaderCellDef>

                             <div matTooltipClass="small_Primary_Tooltip" mat-raised-button matTooltipPosition="above"
                             matTooltip="{{link.link}}">
                                
                                <span>Link {{i+1}}</span>
                              </div>


                        </th>
                        
                        <td mat-cell *matCellDef="let element"> 
                            <div class="text-center" style="width: 75px;" >
                                <span class="green-color">
                                    {{link.count}} 
                                </span>
                            </div> 
                        </td>

                    </ng-container>

                </div>






                <tr mat-header-row *matHeaderRowDef="columns; sticky: true">
                </tr>
                <tr mat-row *matRowDef="let row; columns: columns;">
                </tr>
            </table>

        </div>
    </div>

    <!-- show hide menu dialog -->
    <mat-menu class="hide-column" #hideColumn="matMenu">
        <div class="hide-column-card">
            <div class="header">
                <span>Hide Columns</span>
            </div>
            <div (click)="$event.stopPropagation()" class="body scroll-vertical">
                <div class="column-label-wrapper" *ngFor="let col of filteredColumnList">
                    <label class="toggle_Primary_Small_Label">
                        <input #checkBoxEl type="checkbox" [disabled]="col == 'date'" [checked]="!columnVisibility(col)"
                            (change)="onHideColumn(col, checkBoxEl.checked)" class="toggle_Primary_Small_Input">
                        <span class="toggle_Primary_Small_Inner round"></span>
                    </label>
                    <span class="column-label">
                        {{filterTableHeader(col)}}
                    </span>
                </div>
            </div>
            <div (click)="$event.stopPropagation()" class="footer">
                <button [disabled]="hidedColumn.length <= 0" (click)="hidedColumn = []"
                    class="popup_Primary_Extra_Extra_Small_Button">
                    Show All
                </button>
                <button class="popup_Primary_Extra_Extra_Small_Button"
                    [disabled]="hidedColumn.length === columns.length" (click)="hidedColumn = columnsWithoutFirstIndex">
                    Hide All
                </button>
            </div>
        </div>
    </mat-menu>
</div>