

<div class="unsubscribe-box">

    <div class="first-paragraph">
        <p>So you are really saying goodbye</p>
    </div>
    
    <div class="second-paragraph">
        <p>Let me get out my Ouija board and see if you are really unsubscribing..</p> 
        
        <div class="image-container">
            <img src="../../../assets/img/unsubscribe.jpg">
        </div>

        
        <p>All signs point to yes. Bummer</p>
    </div>

    <div class="third">
        <p>You have unsubscribed from all our mails</p>
    </div>

    <div class="visit-Alore">

        <p>This email was sent to you via Alore</p>
            <a href="https://alore.io">
                <button class="button-class" mat-flat-button>
                    Visit Alore 🙂
                </button>
            </a>
        
    </div>


    
</div>

