
::ng-deep section .tagSection{
    width: 100% !important;
}

::ng-deep .mat-form-field-underline{

    display: none;

}

::ng-deep .mat-form-field-wrapper{
    padding: 0;
}

::ng-deep .mat-form-field-flex{
    padding-top: 0 !important;
    padding-right: 0 !important;
}

::ng-deep .mat-select-min-line{
    font-size: 13px;
}

::ng-deep .mat-form-field-infix {
    padding: 0 !important;
    border-top: 10px;
}






// .tag-model{
//     width: 100%;
//     padding: 0 !important;
// }

// mat-form-field{
//     font-size: 100%;
//     line-height: 0;
// }

// ::ng-deep .mat-form-field-infix{
//     border-top-width: 0px !important; 
//     padding-bottom: 2px !important;
//     padding-top: 2px  !important;
//     border-top: 5px !important;
//     border-top-width: 5px !important;

// }

// mat-form-field-flex{
//     padding: 0 !important;
// }

// ::ng-deep .mat-form-field-wrapper{
//     padding-bottom: 0 !important; 
// }

// span{
//     padding-top: 0;
// }

// ::ng-deep .mat-form-field-subscript-wrapper{
//     margin-top: 0px;
// }


// mat-chip{
//     padding-left: 9px !important;
//     padding-right: 5px !important;
//     margin-top: 1px !important;
//     margin-bottom: 1px !important;
//     margin-left: 4px !important;
//     min-height: 27px !important;
// }

// ::ng-deep .mat-form-field-underline{
//     display: none;
// }

// ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
//    background-color: #ffffff;
// }

// ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
//     border-radius: 4px 4px 0 0;
//     padding: 0px !important;
// }



