<div class="not-found-container">
    <div class="not-found-card">
        <div class="left-side">
            <div class="header">
                <span>404 error</span>
                <h2>
                    We lost this page
                </h2>
                <p>
                    Sorry, the page you are looking for doesn't exist.
                </p>
            </div>
            <div class="body">
                <div class="nav-item">
                    <span [routerLink]="''">
                        Home <mat-icon inline>arrow_forward</mat-icon>
                    </span>
                    <p>
                        Dive in to learn all about our product.
                    </p>
                </div>
                <div class="nav-item">
                    <span>
                        Documentation <mat-icon inline>arrow_forward</mat-icon>
                    </span>
                    <p>
                        Dive in to learn all about our product.
                    </p>
                </div>
                <div class="nav-item">
                    <span>
                        Our blog <mat-icon inline>arrow_forward</mat-icon>
                    </span>
                    <p>
                        Read the latest posts on our blog.
                    </p>
                </div>
                <div class="nav-item">
                    <span>
                        Chat to support <mat-icon inline>arrow_forward</mat-icon>
                    </span>
                    <p>
                        Our friendly team is here to help.
                    </p>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="img-container">
                <img src="../../../assets/img/img-404.gif" alt="">
            </div>
        </div>
    </div>
</div>
